:root {
  --first-color: #212121;
  --second-color: #757575;

  --first-background-color: #e5e5e5;
  --second-background-color: #f5f4fa;
  --third-background-color: #ffffff;
  --fourth-background-color: #2f303a;
  --accent-color: #2196f3;
  --second-accent: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--first-color);
  background-color: var(--third-background-color);
}

/*колір основного тексту #212121 */
/*другий колір колір тексту #757575 */
/*білий #FFFFFF */
/*акцент #2196F3 */
/*третій колір #2196F3 */
/*колір з прозорістю rgba(255, 255, 255, 0.6) */
/* колір основного фону #E5E5E5 */
/* колір другого фону #F5F4FA */
/* колір третього фону #2F303A */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/* header */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.logo-web {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* nav */

.header-content {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;

  color: var(--first-color);
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-contacts {
  display: flex;
  margin-left: auto;
}

.nav-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--first-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item,
.nav-contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list .item {
  position: relative;
}

.nav-list-item.current::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -31px;
  left: 0;
}

.current {
  color: var(--accent-color);
}

.nav-list-item:hover,
.nav-list-item:focus,
.nav-list-item:active {
  color: var(--accent-color);
}

.nav-contacts-list {
  color: var(--second-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts-list:hover,
.nav-contacts-list:focus,
.nav-contacts-list:active {
  color: var(--accent-color);
}

.mail-icon-svg {
  fill: var(--second-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts-list:hover .mail-icon-svg,
.nav-contacts-list:focus .mail-icon-svg {
  fill: var(--accent-color);
}

.nav-contacts-list:hover .tel-icon-svg,
.nav-contacts-list:focus .tel-icon-svg {
  fill: var(--accent-color);
}

.tel-icon-svg {
  fill: var(--second-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts .nav-contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero */

.hero {
  background-color: var(--fourth-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);

  height: 600px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-background-color);

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-background-color);
  background-color: var(--accent-color);
  cursor: pointer;

  margin: 0 auto;

  display: block;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* .hero-btn:focus {
  color: #188ce8;
} */

/* ---section ---*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* feauters */

.feauters h2 {
  display: none;
}

.feauters-list {
  display: flex;
}

.feauters-list .item:not(:last-child) {
  margin-right: 30px;
}

.feauters-list .item {
  min-width: 270px;
}

.feauters-list .item::before {
  content: '';
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;

  display: block;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
}

.icon-antena::before {
  background-image: url(../images/antena.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.feauters-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 10px;
}

.feauters-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* about */

.about {
  padding-top: 0;
}

.about-title {
  color: var(--first-color);
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.about-list {
  display: flex;
}

.about-list .item:not(:last-child) {
  margin-right: 30px;
}

.about-item {
  position: relative;
}

.about-img {
  display: block;
}

.about-img-text {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--third-background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.about-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* team */

.team {
  background-color: var(--second-background-color);
}

.team-title {
  margin-right: auto;
  margin-left: auto;

  color: var(--first-color);

  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--third-background-color);
}

.team-img {
  display: block;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 10px;
}

.team-proffession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}

.soc-list {
  display: flex;
  justify-content: center;
}
.soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.soc-item:last-child {
  margin-right: 0;
}

.soc-link {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);
}

.soc-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: var(--third-background-color);
}

/* .soc-icon:hover,
.soc-icon:focus {
  fill: var(--third-background-color);
} */

/*    Clients    */

.clients {
  color: var(--first-color);
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .clients-item:hover,
.clients-item:focus {
  color: var(--accent-color);
} */

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* footer */

.footer {
  background-color: var(--fourth-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-div {
  display: flex;
  align-items: baseline;
}

.footer-left-text {
  margin-right: 70px;
  min-width: 231px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-background-color);
  margin-bottom: 20px;
  display: inline-block;
}

.footer-logo-web {
  color: var(--accent-color);
}

.footer-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-background-color);
  margin-bottom: 9px;
  display: inline-block;
}

.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-accent);
  display: inline-block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-contacts:hover,
.footer-contacts:focus,
.footer-contacts:active {
  color: var(--accent-color);
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
}

.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--third-background-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-sign {
  margin-left: 93px;
}

.title-sign {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-background-color);
  margin-bottom: 20px;
}

.footer-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--fourth-background-color);
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-sign {
  /* width: 200px; */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--accent-color);
  letter-spacing: 0.06em;

  color: var(--third-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*        MODAL        */

.backdrop {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  position: absolute;
  background-color: var(--third-background-color);
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  display: flex;

  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: var(--third-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

/*      Portfolio      */

.portfolio h1 {
  display: none;
}

.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filters .filters-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--second-background-color);
  color: var(--first-color);
  cursor: pointer;
  box-shadow: none;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--third-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  background-color: var(--third-background-color);
}

.portfolio-list .portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list .portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list .portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;

  top: 0;
  transform: translateY(100%);
  transition: transform 250ms;
}

.portfolio-item:hover .portfolio-overlay-text {
  transform: translateY(0);
}
